-# for answer fields that exist after user explicitly adds an answer
%p.fields
  = f.text_field :content, class: 'answer-content text-field'
  = f.number_field :score, min: 0, max: 99, class: 'risk-score-field', value: '1' # default risk score
  = link_to_remove_fields "remove", f
